{% extends "base.html" %}

{% block content %}
    <h1>Your Information:</h1>
    <p>Hello, please enter your information below:</p>
    {% if error_count is not defined %}

    <hr />

    {% else %}

    <hr />
    <p>Please address the {{error_count}} error(s) as noted below:</p>

    {% endif %}
        
    <form method="post">
        <p><label for="username">Username</label><br />
        <input name="username" type="text" value="{{uname}}" />
        <span class="error">{{u_error}}</span></p>

        <p><label for="password">Password</label><br />
        <input name="password" type="password" />
        <span class="error">{{p_error}}</span></p>

        <p><label for="verify_password">Verify Password</label><br />
        <input name="verify_password" type="password" />
        <span class="error">{{pv_error}}</span></p>

        <p><label for="email">Email (optional)</label><br />
        <input name="email" type="text" value="{{email}}" />
        <span class="error">{{e_error}}</span></p>

        <input type="submit" value="Sign Up!">
    </form>
{% endblock %}